// colors
$color-primary: #01bd80;
$color-secondary: #444;
$color-grey: #979797;

$color-bg-1: #f0f0f0;
$color-bg-2: #f8e1db;

$color-white: #ffffff;

// fonts
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;

// gap-horizontal
$gap-horizontal: 30px;
